# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Simple Chatty Bot/*
!/Simple Chatty Bot/task/
/Simple Chatty Bot/task/*
!/Simple Chatty Bot/task/src

# Project exclude paths
/Topics/Working with strings/Name Card/out/
/Topics/Working with strings/Name Card/out/production/classes/
/Topics/Working with strings/The information about a person/out/
/Topics/Working with strings/The information about a person/out/production/classes/